# Python / Django
__pycache__/
*.py[cod]
*.sqlite3
venv/
.venv/
staticfiles/
media/
*.egg-info/

# Node / React
node_modules/
dist/
.vite/

# Env
.env

# Editor / OS
.vscode/
.idea/
.DS_Store

# Logs
*.log

.claude/
.codex

*Mockup*