DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=anifowoche
DB_USER=anifowoche
DB_PASSWORD=changeme
# DB_HOST=db        -> via docker compose (nom du service)
# DB_HOST=localhost -> backend lancé hors conteneur
DB_HOST=db
DB_PORT=5432

CORS_ALLOWED_ORIGINS=http://localhost:5173
